button{
  opacity:1;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  color:white;
}
.button{
  transform: translate(0, 0);
  opacity:1;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  color:white;
  padding: 0;
  background:red;
}

.button2{
  transform: translate(240px, 0);
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 1;
  color:white;
  background:red;
}