button{
  opacity:1;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  color:white;
}
.button{
  opacity:1;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  color:white;
  padding: 0;
}

.button2{
  opacity:1;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  color:white;
}