*{
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

ion-content{
  // background:red;
  height: 100vh;
}
*{
  h1,h2,h3,h4{
    font-weight: bold;
    color:#1E5E92;
    text-align: center;
  }
  p{
    color:#929DB8;
  }
}
.header{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  // border:1px solid red;
  margin:0;
}

.nav{
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  
}
ion-header{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

ion-navbar{
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  
}

.logo-nav{
  width: 100%;
  height: 0px;
}

.buttom-primary p{
  font-size:17px;
  color:#fff;
  font-weight: regular;
}

.buttom-primary{
  color:#fff;
  background:#2688EE;
  margin:30px;
  border-radius:10px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom-danger p{
  font-size:17px;
  color:#fff;
  font-weight: regular;
}
.buttom-danger{
  background:#E64042;
  margin:30px;
  border-radius:10px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom-aggre p{
  font-size:17px;
  color:#fff;
  font-weight: regular;
}
.buttom-aggre{
  color:#fff;
  background:#4CAF50;
  margin:30px;
  border-radius:10px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom-light p{
  font-size:17px;
  color:#454F63;
  font-weight: regular;
}
.buttom-light{
  // box-shadow: 0px 3px 5px 0px rgba(12,20,61,0.2);
  border:1px solid rgba(69, 79, 99, 0.3);
  background:#fff;
  margin:30px;
  border-radius:10px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttom-medium p{
  font-size:17px;
  color:#1E5E92;
  font-weight: regular;
}
.buttom-medium{
  // border:1px solid rgba(69, 79, 99, 0.3);
  background:#fff;
  margin:30px;
  border-radius:10px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom-primary:active,
.buttom-danger:active,
.buttom-aggre:active,
.buttom-medium:active,
.buttom-light:active,
.rrss1:active
{
  transform: scale(0.95);
}
ion-app.ios [padding], ion-app.ios [padding] .scroll-content, ion-app.md [padding], ion-app.md [padding] .scroll-content, ion-app.wp [padding], ion-app.wp [padding] .scroll-content {
    padding: 0px;
}
// [padding]{
//   padding: 0 30px !important;
//   // margin:0 30px !important;
//   // background:red;
//   border:1px solid red;
// }


.text-fotter{
  bottom: 0;
  text-align: center;
  font-size:11px;
  color:#454F63;
}
.box-form-email{
  margin:20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding:0 20px;
  width: 100%;
  height:68px;
  background:#fff;
  box-shadow: 0px 3px 5px 0px rgba(12,20,61,0.2);
  .input-active{
    width: 100% !important;
    height:37px;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    label{
      font-size:12px;
      color:#1E5E92;
    }
    input{
      width: 100% !important;
      overflow: initial;
      color:#3D3D3D;
      border:none;
    }
  }
}


.box-form-password{
  margin:20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .input-desactive{
    width: 100%;
    height:37px;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    label{
      font-size:15px;
      color:#929DB8;
      margin-bottom: 17px;
    }
    input{
      border:none;
      border-bottom: 1px solid rgba(69, 79, 99, 0.3);
    }
  }
}

.label{
  font-size:15px;
  color:#3D3D3D;
  padding:20px 0;
  height: 23px;
  line-height: 0;
  display: flex;
}
.box-main-rrss{
  margin:20px 0;
}
.rrss{
display: flex;
justify-content: flex-start;
margin:20px 0;
}
